h2,p {margin-bottom:2.4rem ;}

h1 {font:700 2rem/1.2 "Roboto";color: rgb(252, 247, 247); }
h2 {font:400 1.5rem/1.2 "Roboto";color: rgb(241, 248, 243); }
time {font:700 1rem/1.2 "Roboto";color: hsl(123, 88%, 69%); }
h3 {font:700 1rem/1.2"Roboto"; color: hsl(255, 40%, 98%); }
p {font:400 1rem/1.2"Roboto"; color: rgb(240, 247, 240); }
figcaption p {font:400 1rem/1.2"Roboto"; color: hsl(00, 0%, 83%); }

a { box-shadow: inset 0 --0.25em hsl(55, 100%, 75%); }

@media (max-width: 8.5in) { :root { font-size: 18px ;} }
@media (max-width: 5.8in) { :root { font-size: 16px ;} }
