
.prof-box {
    width: 400px;
    height: 200px;
    background-color: rgba(36, 235, 10, 0.514);
    color: white;
    margin: 0 auto;
    margin-bottom: 100%;
    text-align: center;
}

h1 {
    font-weight: 100%;
    letter-spacing: 6;
    font-size: 50px;
}
p {
    font-weight: 100;
    letter-spacing: 1;
}
.line-break {
 width: 300px;
 margin: 0 auto;
 border-top: 1px solid white;
}
.browser{
    height: 10vh;
    background: rgba(72, 88, 72, 0);

}
nav a {
    color: white;
    text-decoration: none;
}